table,
td,
tr,
th {
  border: solid;
  border-width: 1px;
  border-color: #000;
}

.bold {
  font-weight: bold;
  text-align: center;
}

.result {
  width: 400px;
  text-align: right;
  padding-right: 5px;
}

.data {
  padding-left: 5px;
}
